.navigation {
    &-list--header {
        display: flex;
        gap: 42px;
    }

    &-list__item--header:nth-child(2) {
        a {
            color: #EC1C24;

            &:hover {
                border-bottom: 1px solid #EC1C24;
            }
        }
    }
}