@use '../ui/_media.scss' as *;

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button,
a {
    cursor: pointer;
}

ol,
ul,
li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    width: 100%;
    height: 100%;
}

html {
    font-family: var(--an-main-f-f, var(--an-default-f-f));
    background-color: var(--an-bg-c-white, var(--an-bg-c-default));
}

.container {
    padding: var(--an-container-p-mob, var(--an-container-p-mob-default));
    margin: var(--an-container-m, var(--an-container-m-default));

    @include for-laptop {
        padding: var(--an-container-p-laptop, var(--an-container-p-laptop-default))
    }

    @include for-desktop {
        max-width: var(--an-container-m-w, var(--an-container-m-w-default))
    }
}